@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
/* sldder length slamm */
/* 
 .scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #e5e7eb;
 }
.scrollbar-thin {
  scrollbar-width:thin    ;
}

.scrollbar-thumb-gray-500 {
  scrollbar-color: #6b7280 #e5e7eb;
}

.scrollbar-track-gray-200 {
  background-color: #e5e7eb;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
} */
/* Custom class to hide scrollbars */
.hide-scroll-bar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Smooth Scrolling */
.overflow-x-auto {
  scroll-behavior: smooth;
}