@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for all browsers */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Smooth transitions for hover effects */
  button {
    transition: opacity 0.2s ease, background-color 0.2s ease;
  }